.container{
    position: relative;
}
.primer-bloque{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.primer-bloque__2{
    /*display: grid;
    grid-template-columns: repeat(4,1fr);*/
    display: flex;
    flex-direction: row;
    grid-gap: 25px;
}


.segundo-bloque{
    display: grid;
    flex-direction: row;
    position: relative;
    left: 8%; /*  REVISAR CON SHIMMY */
    right: 8%; /*  REVISAR CON SHIMMY */
    
}

.segundo-bloque__1{
    display: flex;
    flex-direction: row;
}
 
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

.tercer-bloque{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 8%; /*  REVISAR CON SHIMMY */
    right: 8%; /*  REVISAR CON SHIMMY */
}

.tercer-bloque__2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.cuarto-bloque{
    display: grid;
    grid-template-columns: 80% 20%;
}

.quinto-bloque{
    display: grid;
    grid-template-columns: 30% 70%;
}

.quinto-bloque__2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.sexto-bloque{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.sexto-bloque__1{
    display: grid;
    grid-template-rows: 20% 80%;
}

.sexto-bloque__1__2{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}