@media (min-width: 420px) {
    .container{
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        align-items: center;
    }
    
    .primer-bloque{
        display: flex;
        flex-direction: row;  
        grid-gap: 40px;
    
    }

    .primer-bloque .primer-bloque__2{
        display: flex;
        flex-direction: row;   
    }
    
    
    .segundo-bloque{
        display: flex;
        flex-direction: row;  
    }
    
    .segundo-bloque__1{
        display: flex;
        flex-direction: row;  
    }
    
   .segundo-bloque__1{
        display: flex;
        flex-direction: row;  
    }

    .tercer-bloque{
        display: flex;
        flex-direction: column;
    }
    
    .tercer-bloque .tercer-bloque__2{
        display: flex;
        flex-direction: row;
    }
    
   .cuarto-bloque{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
 }
    
    .quinto-bloque{
        display: flex;
        flex-direction: column;
        
    }

    .quinto-bloque__1{
        display: flex;
        flex-direction: row;
    }

    .quinto-bloque__1__2{
        display: flex;
        flex-direction: row;
    }

    .quinto-bloque__2{
        display: flex;
        flex-direction: row;
    }
    .quinto-bloque__2__1{
        display: flex;
        flex-direction: column;
    }

    .quinto-bloque__2__1__2{
        display: flex;
        flex-direction: column;
    }

  }


  @media (max-width: 420px){

    .container{
        display: flex;
        flex-direction: column;
        max-width: 420px;
        justify-content: center;

    }


    .primer-bloque{
        display: flex;
        flex-direction: row;
    }

    .primer-bloque__2{
        display: flex;
        flex-direction: column;
    }

    .segundo-bloque{
        display: flex ;
        flex-direction: row;
    }

    .segundo-bloque{
        display: flex;
        flex-direction: row;
    }

    .segundo-bloque__1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .segundo-bloque__1__1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tercer-bloque{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tercer-bloque .tercer-bloque__2{
        display: flex;
        flex-direction: column;
    
    }

    .tercer-bloque .tercer-bloque__2 .tercer-bloque__2__1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cuarto-bloque{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quinto-bloque{
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    .quinto-bloque__1{
        display: flex;
        flex-direction: column;
    }

    .quinto-bloque__1__2{
        display: flex;
        flex-direction: row;
    }

    .quinto-bloque__2{
        display: flex;
        flex-direction: column;
    }
    .quinto-bloque__2__1{
        display: flex;
        flex-direction: column;
    }

    .quinto-bloque__2__1__2{
        display: flex;
        flex-direction: column;
    }

}