@media (min-width: 420px){
    .container{

        max-width: 1440px;
        border: solid 1px green;
    }
    
    .container .primer-bloque {
        border: brown solid 2px;   
        max-width: 80% ;
        height: 55px;
        width: 1440px;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
    
    .container .primer-bloque .primer-bloque__2 {
        display: flex;
        grid-gap: 20px;
        position: absolute;
        right: 0%;
    }
    
    .container .primer-bloque .primer-bloque__2 .primer-bloque__2__buttom{
        text-decoration: none;
        display: flex;
        grid-gap: 20px;
        color: black;
    }
    
    .container .primer-bloque .primer-bloque__2 .primer-bloque__2__buttom2{
        text-decoration: none;  
        color: black;
    }
    
    .segundo-bloque{
        border: brown solid 2px;   
        max-width: 100% ;
        height: 800px;
        justify-content: center;
    }
    
    .segundo-bloque .segundo-bloque__1{
        background-color: blue;
    
    }
    
    .segundo-bloque .segundo-bloque__1{
        width: 1440px;
        background-color: darkviolet;
        max-height: 70%;
        position: relative;
        max-width: 80%;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__1 .segundo-bloque__1__1__1 h2 {
        font-size: 65px;
        color:  #ffffff;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__1 p{
        font-size: 16px;
        color:  #ffffff;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__1 a{
        font-size: 16px;
        color:  #ffffff;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__2{
    } 
    
    .segundo-bloque__1__2__1{
        background-image: url(./images/image-intro-desktop.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        justify-content: center;
    }

    
    .tercer-bloque{
        max-width: 80%;
    }
    
    .tercer-bloque .tercer-bloque__1{
        font-size: 45px;
    }
    
    
    .cuarto-bloque{
        max-width: 80%;
        border: 1px solid orange;
        width: 1440px;
        height: 150px;  
        background-color: darkviolet; 
        line-height: 0px;
        /*background-image: url(./images/bg-pattern-intro-right-desktop.svg) ;*/
    }
    
    .cuarto-bloque h2{
        font-size: 45px;
        color: #ffffff;
    }
    
    .cuarto-bloque .cuarto-bloque__2 a {
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 20px;
        text-decoration: none;
    }
    
    .cuarto-bloque .cuarto-bloque__2{
        display: flex;
        align-items: center;
    }
    
    .quinto-bloque{
        max-width: 80%;
        width: 1440px;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
    
    .quinto-bloque .quinto-bloque__2{
        grid-gap: 20px;
    }
    
    .sexto-bloque{
        max-width: 80%;
        width: 1440px;
        justify-content: space-between;
        line-height: 25px;
        font-size: 12px;
    }
    
    .sexto-bloque .sexto-bloque__1 .sexto-bloque__1__1{
        height: 40px;
    }
    
    .sexto-bloque .sexto-bloque__1 .sexto-bloque__1__2 a{
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 420px){

    .segundo-bloque{
        
    }


    .segundo-bloque__1{
        height: 920px;
    }
    .segundo-bloque__1__1__1{
        background-color: blue;
        align-items: center;
        max-width: 100%;
        color: #ffffff;

        }

    .segundo-bloque__1__2__1{
        background-image: url(./images/image-intro-mobile.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat ;
        display: block;
        content: "";
        background-position: center;
        background-size: contain;
    
    
    }

    .segundo-bloque__1__1__1 h2{
        font-size: 55px;
        text-align: center;
    }

    .segundo-bloque__1__1__1 p{
        line-height: 30px;
        text-align: center;
        font-size: 22px;
    }

    .segundo-bloque__1__1__1 a{
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 25px;
    }
            




}
