@media (min-width: 420px){
    .container{

        max-width: 1440px;
        border: solid 1px green;
    }
    
    .primer-bloque {
        border: brown solid 2px;   
        max-width: 80% ;
        height: 55px;
        width: 1440px;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
    
    .container .primer-bloque .primer-bloque__2 {
        display: flex;
        grid-gap: 20px;
        position: absolute;
        right: 0%;
    }
    
    .container .primer-bloque .primer-bloque__2 .primer-bloque__2__buttom{
        text-decoration: none;
        display: flex;
        grid-gap: 20px;
        color: black;
    }
    
    .container .primer-bloque .primer-bloque__2 .primer-bloque__2__buttom2{
        text-decoration: none;  
        color: black;
    }
    
    .segundo-bloque{
        border: brown solid 2px;   
        max-width: 100% ;
        height: 800px;
        justify-content: center;
    }
    
    .segundo-bloque .segundo-bloque__1{
        background-color: blue;
    
    }
    
    .segundo-bloque .segundo-bloque__1{
        width: 1440px;
        background-color: darkviolet;
        max-height: 70%;
        position: relative;
        max-width: 80%;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__1 .segundo-bloque__1__1__1 h2 {
        font-size: 65px;
        color:  #ffffff;
        margin: 0px;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__1 p{
        font-size: 16px;
        color:  #ffffff;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__1 a{
        font-size: 16px;
        color:  #ffffff;
    }
    
    .segundo-bloque .segundo-bloque__1 .segundo-bloque__1__2{
    } 
    
    .segundo-bloque__1__2{
        background-image: url(./images/image-intro-desktop.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat ;
        display: block;
        content: "";
        background-position: center;
        background-size: contain;
    }

    
    .tercer-bloque{
        max-width: 80%;
    }
    
    .tercer-bloque .tercer-bloque__1{
        font-size: 45px;
    }
    
    
    .cuarto-bloque{
        max-width: 80%;
        border: 1px solid orange;
        width: 1440px;
        height: 150px;  
        background-color: darkviolet; 
        line-height: 0px;
        /*background-image: url(./images/bg-pattern-intro-right-desktop.svg) ;*/
    }
    
    .cuarto-bloque h2{
        font-size: 45px;
        color: #ffffff;
    }
    
    .cuarto-bloque .cuarto-bloque__2 a {
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 20px;
        text-decoration: none;
    }
    
    .cuarto-bloque .cuarto-bloque__2{
        display: flex;
        align-items: center;
    }
    
    .quinto-bloque{
        max-width: 80%;
        width: 1440px;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
    
    .quinto-bloque .quinto-bloque__2{
        grid-gap: 20px;
    }
    
    .sexto-bloque{
        max-width: 80%;
        width: 1440px;
        justify-content: space-between;
        line-height: 25px;
        font-size: 12px;
    }
    
    .sexto-bloque .sexto-bloque__1 .sexto-bloque__1__1{
        height: 40px;
    }
    
    .sexto-bloque .sexto-bloque__1 .sexto-bloque__1__2 a{
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 420px){
    .container{
        position: relative;
    }

    .primer-bloque{
        padding: 20px;
    }

    .primer-bloque__2{
        font-size: 0px;
    }
    .segundo-bloque{
    }


    .segundo-bloque__1{
        height: 950px; 
    }
    .segundo-bloque__1__1{
        background-color: blue;
        align-items: center;
        color: #ffffff;
        padding-bottom: 100px;
        padding-top: 100px;
        }

    .segundo-bloque__1__2{
        background-image: url(./images/image-intro-mobile.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat ; 
        background-position: center;
        background-size: contain;
    }

    .segundo-bloque__1__1 h2{
        font-size: 40px;
        text-align: center;
        padding: 0px;
        margin: 0px;

    }

    .segundo-bloque__1__1 p{
        line-height: 26px;
        text-align: center;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
    }

    .segundo-bloque__1__1 a{
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 15px;
        padding-right: 25px;
        padding-left: 25px;
    }
            
    .tercer-bloque{
        padding-top: 110px ;
        position: relative;
        padding-bottom: 50px;
    }
    .tercer-bloque__1{
        font-size: 28px;        
        padding-bottom: 30px;
    }

    .tercer-bloque__1::before{
        display: block;
        content: "";
        border-top: green 1px solid;
        width: 50%;
        position: absolute;
        right: 23%;
    }

    .tercer-bloque__2__1{
        padding-bottom: 45px;
    }
    .tercer-bloque__2__1 h3{
        font-size: 23px ;
        margin: 0px;
        padding-top: 30px ;
        padding-bottom: 4px ;
    }

    .tercer-bloque__2__1 p{
        line-height: 24px;
        text-align: center;
        padding-left: 10px ;
        padding-right: 10px ;
    }

    .cuarto-bloque{
        background-color: aquamarine;
        height: 270px;
        padding-top: 70px;
    }

    .cuarto-bloque__1 h2{
        color:  #ffffff;
        font-size: 38px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        line-height: 35px;
        padding-bottom: 20px;
    }

    .cuarto-bloque__2{
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px;
        padding-left: 20px ;
        padding-right: 20px;
        margin-top: 20px;
    }

    .quinto-bloque{
        margin-top: 130px;
        padding: 40px;
        padding-top: 70px;
        line-height: 40px;
        background-color: hsl(270, 9%, 17%);
    }

    .quinto-bloque::before{
        display: block;
        content: "";
        border-bottom: 1px solid green;
        position: absolute;
        width: 80%;

    }

    .quinto-bloque__1{
        padding-bottom: 17px;
    }

    .quinto-bloque__2{
        grid-gap: 20px;
    }

}
