@media (min-width: 720px){
    
    .container{max-width: 1440px;
    min-width: 720px;}
    
    .primer-bloque { 
        max-width: 80%;
        height: 55px;
        width: 1440px;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }
    
    .primer-bloque__2 {
        display: flex;
        grid-gap: 20px;
        position: absolute;
        right: 0%;
    }
    
    .primer-bloque__2__buttom{
        text-decoration: none;
        display: flex;
        grid-gap: 20px;
        color: black;
    }
    
    .primer-bloque__2__buttom2{
        text-decoration: none;  
        color: black;
    }
    
    .segundo-bloque{  
        max-width: 100% ;
        height: 950px;
        justify-content: center;
    }

     .segundo-bloque::before{
        background-color: hsl(256, 26%, 20%);
        content: " ";
        display: block;
        position: absolute;
        max-width: 1440px;
        width: 100%;
        height: 80%;
        height: 640px; 
     }
    
     .segundo-bloque::before{
        background-image: url(./images/bg-pattern-intro-right-desktop.svg);
        background-repeat: no-repeat;
        background-position: right;
     }
    
    .segundo-bloque__1{
        width: 1440px;
        max-height: 70%;
        position: relative;
        max-width: 80%;
        padding-top: 100px;
        min-width: 800px;
    }
    
    .segundo-bloque__1__1 h2 {
        font-size: 65px;
        color:  #ffffff;
        margin: 0px;
    }
    .segundo-bloque__1__1 h3 {
        font-size: 65px;
        color:  #ffffff;
        margin: 0px;
    }

    .segundo-bloque__1__1 h2::before {
        border-top: 1px solid hsl(273, 4%, 51%);
        content: "";
        width: 30%;
        display: block;
        padding-top: 30px;   
    }
    
    .segundo-bloque__1__1 p{
        font-size: 19px;
        color:  #ffffff;
        line-height: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    
    .segundo-bloque__1__1 a{
        font-size: 16px;
        color:  #ffffff;
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 16px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .segundo-bloque__1__1 a:hover{
        font-size: 16px;
        color:  hsl(256, 26%, 20%);
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 16px;
        padding-right: 40px;
        padding-left: 40px;
        background-color: #ffffff;
    }
 
    .segundo-bloque__1__2{
        background-image: url(./images/image-intro-desktop.jpg);
        min-width: 450px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat ;
        display: block;
        content: "";
        background-position: center;
        background-size: contain;    
    }

    .tercer-bloque{max-width: 80%;}
    
    .tercer-bloque__1{font-size: 45px;}
    
    .tercer-bloque__1::before{
        content: "";
        width: 20%;
        border-top: 1px solid hsl(273, 4%, 51%);
        display: block;
    }
    
    .cuarto-bloque{
        max-width: 80%;
        width: 1440px;
        height: 150px;  
        background-color: hsl(256, 26%, 20%); 
        line-height: 7px;
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 120px;
        margin-bottom: 120px;
        background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: right;
    }
  
    .cuarto-bloque h2{
        font-size: 45px;
        color: #ffffff;
    }
    
    .cuarto-bloque .cuarto-bloque__2 a {
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 20px;
        text-decoration: none;
    }
    
    .cuarto-bloque .cuarto-bloque__2{
        display: flex;
        align-items: center;
    }
    
    .quinto-bloque{
        width: 1440px;
        max-width: 89%;
        height: 340px;
        background-image: url(./images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%; 
    }
    
    .quinto-bloque__1{
        display: flex;
        justify-content: space-between;
        padding: 40px;
        border-bottom: hsl(273, 4%, 51%) 2.2px solid;
    }

    .quinto-bloque__2{
        padding: 40px;
        justify-content: space-between;    
    }

    .quinto-bloque__1__2{
        grid-gap: 20px;
    }

    .quinto-bloque__2__1__1{
        color :hsl(273, 4%, 51%)  ;
        padding-bottom: 25px;
    }
  
    .quinto-bloque__2__1__2{
        grid-gap: 9px;
        text-decoration: none;
        color: #000000;
    }

    .quinto-bloque__2__1__2 a{
        text-decoration: none;
        color: #000000;
    }
}

@media (max-width: 420px){

    .container{position: relative;
    max-width: 100%;}

    .primer-bloque{ padding: 20px;}

    .primer-bloque__1{padding-top: 20px;}

    .primer-bloque__2{font-size: 0px;}

    .segundo-bloque__1{ height: 950px;}

    .segundo-bloque__1__1{
        background-color: hsl(256, 26%, 20%);
        align-items: center;
        color: #ffffff;
        padding-bottom: 100px;
        padding-top: 100px;
        }

    .segundo-bloque__1__1{
        background-image: url(./images/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat; 
    }
    

    .segundo-bloque__1__2{
        background-image: url(./images/image-intro-mobile.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat ; 
        background-position: center;
        background-size: contain;
    }

    .segundo-bloque__1__1 h2{
        font-size: 40px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    .segundo-bloque__1__1 h3{
        font-size: 40px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }


    .segundo-bloque__1__1 p{
        line-height: 26px;
        text-align: center;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
    }

    .segundo-bloque__1__1 a{
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 15px;
        padding-right: 25px;
        padding-left: 25px;
    }
            
    .tercer-bloque{
        padding-top: 110px ;
        position: relative;
        padding-bottom: 50px;
    }

    .tercer-bloque__1{
        font-size: 28px;        
        padding-bottom: 30px;
    }

    .tercer-bloque__1::before{
        display: block;
        content: "";
        border-top: hsl(273, 4%, 51%) 2px solid;
        width: 50%;
        position: absolute;
        right: 23%;
    }

    .tercer-bloque__2__1{
        padding-bottom: 45px;
    }

    .tercer-bloque__2__1 h3{
        font-size: 23px ;
        margin: 0px;
        padding-top: 30px ;
        padding-bottom: 4px ;
    }

    .tercer-bloque__2__1 p{
        line-height: 24px;
        text-align: center;
        padding-left: 10px ;
        padding-right: 10px ;
        color: hsl(273, 4%, 51%) 
    }

    .cuarto-bloque{
        background-color: hsl(256, 26%, 20%);
        height: 270px;
        padding-top: 70px;
        background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        background-position: right;
    }

    .cuarto-bloque__1 h2{
        color:  #ffffff;
        font-size: 38px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        line-height: 35px;
        padding-bottom: 20px;
    }

    .cuarto-bloque__2 {
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px;
        padding-left: 20px ;
        padding-right: 20px;
        margin-top: 20px;
    }

    .cuarto-bloque__2 a{
        text-decoration: none;
        color: #ffffff;
    }

   /* .quinto-bloque{
        margin-top: 130px;
        padding: 40px;
        padding-top: 70px;
        line-height: 40px;
        background-color: hsl(0, 0%, 98%);
        background-image: url(./images/bg-pattern-footer-mobile.svg);
        background-repeat: no-repeat;
    }

    .quinto-bloque__1{ padding-bottom: 17px;}

    .quinto-bloque__2{grid-gap: 20px;}

    .sexto-bloque{border-top: 1px solid hsl(273, 4%, 51%);}

    .sexto-bloque__1{
        padding-top:50px ;
        color: hsl(273, 4%, 51%) ;
    }
    
    .sexto-bloque__1__1{padding-bottom: 25px;}

    .sexto-bloque__1__2 { grid-gap: 10px;}

    .sexto-bloque__1__2 a{
        text-decoration: none;
        color: #000000;
    }

  .attribution{
      padding: 30px;
  }*/

}
